main{
  width:100%;
}
@font-face {
    font-family:Century Gothic;
    src:url(/fonts/century.ttf);
}
.slaider-1{
    display:flex;
    justify-content: center;
}
.slaider-main-1{
    background-color: #e9b637;
    width:80%;
    padding:40px 40px 20px 60px;
}
.slaider-item1-1{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: space-between;
    margin:0;
}
.slaider-item1-2{
    width:620px;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
}
.slaider-item1-3{
    width:620px;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
}
.slaider-1 input{
    display:none;
}
.slaider-2 input{
    display:none;
}
body{
    font-family:Century Gothic;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
}
.sup-menu{
    padding-top:10px;
    padding-bottom:10px;
    margin-top:0px;
    background-color: #3c3c3c;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
}
.logo{
    flex-grow:1;
}
.sup-menu li{
    width:200px;
}
.sub-menu{
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:nowrap;
}
.categories{
    flex-grow:1;
}
.categories ul{
    display:flex;
    width:420px;
    flex-wrap:wrap;
}
.categories ul li{
    padding:5px;
}
.catalog1{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.catalog1 li{
    text-align: center;
    width:150px;
}
.brends{
    display:flex;
    justify-content: center;
}
.brends ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap:nowrap;
    align-items:center;
}
.brends ul li{
    padding-right: 15px;
}
footer{
    background-color: #464646;
    display:flex;
    flex-direction:column;
}
.footer-item-1{

}
.footer-item-2{

}
.footer-1block{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.footer-2block{
    background-color: #3c3c3c;
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.footer-2block p{
    flex-grow:1;
}
.footer-2block ul {
    display: flex;
    flex-direction:row;
}
.phone{

    padding-top:100px;
}
.footer-item-2 ul{
    padding:0;
    width:480px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}
.slaider-item2-1, .slaider-item2-3,.slaider-item1-2, .slaider-item1-3{
    display:none;
}
.slaider-2{
    display:flex;
    justify-content: center;
}
.slaider-main-2{
    width:80%;
    display:flex;
}
.slaider-radio-2{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    padding-right:50px;
}
.slaider-item2-2{
    display:flex;
    flex-direction: column;
    height:200px;
}
.slaider-2-images img[alt="Доставка"]{
    display:none;
}
.slaider-2-images img[alt="Кредит"]{
    display:none;
}
.about-us{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.about-us-item{
    width:60%;
    background-color: #e7e7e7;
}
.spam{
    background-color: #3c3c3c;
    width:20%;
}